<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet' type='text/css'>
  <title>Sudoku Game</title>
</head>
<body>
  <h1>Welcome to the Sudoku Domain!</h1>
  <section id="sudoku">
  <form action="/" method="post">
    <!-- One section for each row -->
    <% 3.times do |row| %>
      <section class="row">
      <!-- We want to create separate div elements for boxes to style them using CSS-->
        <% 3.times do |box| %>
          <section class="box">
        <!-- Each box will have nine cells -->
            <% 3.times do |cell_row| %>
              <section class="cell_row">
                <% 3.times do |cell| %>
                  <section class="cell">
                <!-- Every cell will have an input field -->
                  <% cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
                  <% cell_value = @current_solution[cell_index] %>
                  <input type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>">
                </section>
               <% end %>
            </section>
          <% end %>
        </section>
      <% end %>
      </section>
    <% end %>
      <button>Check Solution</button>
    </form>
  </section>
</body>
</html>