<% if flash[:notice] %>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<section id="sudoku">
  <form action="/" method="post" class="check_solution">
    <!-- One section for each row -->
    <p><a class="see_solution" href="/solution">I Quit</a></p>
    <button>Am I Right?</button>
    <p><a class="restart" href="/restart">Restart</a></p>
    <div class="container">
      <%= partial :grid %>
    </div>
  </form>
</section>