* {
  margin: 0;
}

html {
  background: url(../img/SHADOW-SAMURAI.jpg) no-repeat center 23% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 0px;
}

section.box, section.cell {
  display: inline-block;
}

.cell input {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  text-align: center;
}

#sudoku {
  font-size: 0;
  text-align: center;
  margin-top: 15%;
}

.container {
  margin-top: 40px;
}

section.box {
  outline: solid 3px black;
}

body {
  text-align: center;
  font-family: 'Shojumaru', cursive;
}

button {
  font-family: 'Shojumaru', cursive;
  font-size: 30px;
  background-color: white;
  border: 0;
  box-shadow: -0.5px 4px #a1a7ad;
  border-radius: 3px;
}

button:hover, .see_solution:hover, .restart:hover {
  background-color: #e8291d;
  box-shadow: 0px 4px #9a1a14;
  color: white;
  cursor: pointer;
}

button:active, .see_solution:active, .restart:active {
  position: relative;
  box-shadow: 0px 1px #9a1a14;
  background-color: #e8291d;
  top: 1px;
}

*:focus {
  outline: none;
}

.incorrect {
  background-color: #eebb2c;
}

.value-provided {
  background-color: #b0b6bb;
}

#flash {
  width: 60%;
  margin: 20px auto;
  font-size: 19px;
  padding: 5px;
  background-color: #eebb2c;
  border: 1px dashed #b3241b;
}

p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  padding: 2px 10px;
}

.see_solution, .restart {
  margin-bottom: 10px;
  font-family: 'Shojumaru', cursive;
  font-size: 30px;
  background-color: white;
  border: 0;
  box-shadow: -0.5px 4px #a1a7ad;
  border-radius: 3px;
}

.see_solution {
  margin-right: 20px;
}

.restart {
  margin-left: 20px;
}

header {
  background: #e8291d;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid black;
}

/* ===============================
          Media queries
   =============================== */

/*      Mobile      */

@media screen and (max-device-width: 641px) {

  .cell input {
    width: 65px;
    height: 65px;
    font-size: 18px;
    -webkit-border-radius: 0;
  }

  h1 {
    font-size: 40px;
  }

  #flash {
    font-size: 30px;
    padding: 15px;
  }


  #sudoku {
    margin-top: 17%;
  }

  .see_solution, .restart {
    margin-bottom: 20px;
  }
}

