html {
  background: url(../img/SHADOW-SAMURAI.jpg) no-repeat center 23% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section.box, section.cell {
  display: inline-block;
}

.cell input {
  width: 50px;
  height: 50px;
  border: 1px solid #b3241b;
}

#sudoku {
  font-size: 0;
  text-align: center;
  margin-top: 22%;
}

body {
  text-align: center;
  font-family: 'Shojumaru', cursive;
}

button {
  margin-top: 20px;
  font-family: 'Shojumaru', cursive;
  font-size: 30px;
}

.incorrect {
  background-color: #eebb2c;
}

.value-provided {
  background-color: #b0b6bb;
}

#flash {
  width: 60%;
  margin: 20px auto;
  font-size: 19px;
  padding: 5px;
  background-color: #eebb2c;
  border: 1px dashed #b3241b;
}